<div class="login-component">
    <div class="login-container">
        <div class="login-header-img">
            <img src="../../../../assets/new2.png" class="image-header"/>
        </div>
        <div class="login-form">
            <form>
                <div class="input-group">
                    <label>Email ID/Mobile No.</label>
                    <input type="text"/>
                </div>
                <div class="otp-group">
                    <label class="timer-label">{{timer}} sec</label>
                    <button type="button" class="btn-success">Send OTP</button>
                </div>
                <div class="input-group">
                    <label>OTP</label>
                    <input type="text"/>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn-primary">Login</button>
                    <hr>
                    <button type="button" class="btn-secondary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>